* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
}
.item {
  
  height: 50px;
  width: 200px;
  border: 1px solid #000;
  background: orange;
}

/* container 300px
  item 50px => 150px
  => one 2/9 of 150px
  => one 3/9 of 150px
  => one 4/9 of 150px
*/
/* .one {
  flex-grow: 2;
}
.two {
 flex-grow: 3;
}
.three {
  flex-grow: 4;
} */


.one {
  flex-shrink: 4;
}
.two {
  flex-shrink: 3;
}
.three {
  flex-shrink: 4;
}
/* box */
.container {
  width: 300px;
  margin: 10px;
  border: 1px solid #000;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  /* flex-wrap:nowrap ; */
  /* flex-wrap:wrap; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content:center; */
  /* justify-content:flex-end ; */
  /* justify-content:flex-start ; */
  /* justify-content:space-between ; */
  /* justify-content:space-around ; */
  /* justify-content: space-evenly; */
  /* align-items: start; */
  /* align-items: center; */
  /* align-items: end; */
  /* align-items: stretch; */
  /* align-items: baseline; */
  /* align-content:stretch;  */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* gap: 5px; column and row */
  /* gap:10px 30px; */
  /* row-gap: 10px;
  column-gap: 30px; */
  /* flex-flow: column wrap; */

 
}
